# Copyright 2026 Phillip Cloud
# Licensed under the Apache License, Version 2.0

name: Container

on:
  release:
    types: [published]

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: cpcloud/micasa

jobs:
  build-and-push:
    name: Build & Push Container
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Build container image
        run: nix build '.#micasa-container'

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Load, tag, and push image
        run: |
          docker load < result

          version="${{ github.event.release.tag_name }}"
          version="${version#v}"

          docker tag micasa:latest "$REGISTRY/$IMAGE_NAME:$version"
          docker tag micasa:latest "$REGISTRY/$IMAGE_NAME:latest"

          docker push "$REGISTRY/$IMAGE_NAME:$version"
          docker push "$REGISTRY/$IMAGE_NAME:latest"
